.bash_history
.lesshst
.minttyrc
.psclient
.recap.dat
.smex-items
.thumbnails
.emacs.d/.emacs.desktop
.gimp*/
.gnupg
.p4*/
.places
backups/
p4*
ntuser*
Dropbox*
Desktop
Downloads
Documents
Favorites
Google*
Links
App*
Contacts
Cookies
Local*
Music
My*
NetHood
PrintHood
Pictures/
Recent
Saved Games/
Searches/
SendTo
Start Menu
Templates
Videos/
devtools/
.cisco/
.replicatorg/
.oracle_jre_usage/
.rnd
.viminfo
.zenmap/
