.arcrc
.bash_history
.cisco/
.emacs.d/.emacs.desktop
.gimp*/
.gnupg
.lesshst
.minttyrc
.oracle_jre_usage/
.p4*/
.places
.psclient
.recap.dat
.replicatorg/
.rnd
.smex-items
.ssh/
.thumbnails
.viminfo
.vs/
.zenmap/
App*
Contacts
Cookies
Desktop
Documents
Downloads
Dropbox*
Favorites
Google*
Links
Local*
Music
My*
NetHood
Pictures/
PrintHood
Recent
Saved Games/
Searches/
SendTo
Start Menu
Templates
Videos/
backups/
devtools/
ntuser*
p4*
